{% extends 'index.html' %}

{% block content %}


    <form method="POST" class="form-control" style="color: black">
        {{form.hidden_tag()}}
        <div style="text-align: center">
        {{form.username.label()}}
        {{form.username(class="form-control",placeholder="User Name") }}
            {{form.email_address.label()}}
        {{form.email_address(class="form-control",placeholder="email") }}
            {{form.password1.label()}}
        {{form.password1(class="form-control",placeholder="Password") }}
            {{form.password2.label()}}
        {{form.password2(class="form-control",placeholder="confirm Password") }}
        <br>
             <div class="checkbox mb-3">
               <h6>Đã có tài khoản</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Đăng Nhập</a>
            </div>
        {{form.submit(class="btn btn-lg btn-block btn-primary") }}
        </div>

    </form>
{% endblock %}